<% include header %>
<h1>What’s your ZIP code?</h1>
<form class="pure-form">
 <fieldset>
 <input type="text" name="zip" placeholder="location name" autofocus required>
 <input type="submit" class="pure-button pure-button-primary" value="Go">
 </fieldse
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/javascripts/main.js"></script>
<% include footer %>
